<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

	<targets>
		<!-- File Target -->
		<target name="file" xsi:type="File"
				fileName="${basedir}/Logs/logfile_${shortdate}.txt"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"
				keepFileOpen="false"
				encoding="utf-8" />

		<!-- Debug output -->
		<target name="debug" xsi:type="Debug"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="file,debug" />
	</rules>
</nlog>
